.portfolio > h1 {
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
  color: #123c69;
}
.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 10px auto;
  width: 90%;
}
@media screen and (min-width: 1000px) {
  .portfolio > h1 {
    margin-top: 100px;
    font-size: 50px;
  }
  .projects {
    flex-direction: row;
  }
}
@keyframes project-opacity {
  0% {
    transform: rotate(xx);
    opacity: 0;
  }
  100% {
    transform: rotate(xx);
    opacity: 1;
  }
}
.projects {
  animation: project-opacity 2s forwards 0s linear;
}
